{% extends "base.html" %}

  {% block title %}
	<title>Import Book</title>
  {% endblock %}

  {% block head %}
  	{% if change %}
       <h2>{{s}}</h2>
    {% else %}
		<h2>Import orders</h2>
	{% endif %}
  {% endblock %}

  {% block content %}
    
    
	{% if books %}
		<table frame="above" cellpadding = "5" width = "530" style="word-break:break-all; word-wrap:break-all;">
			<tr  style = "font-size:17px">
			<th width = 80>OrderID</th>
			<th width = 50>ISBN</th>
			<th width = 180>Title</th>
			<th width = 60>Price</th>
			<th width = 80>Number</th>
			<th width = 80>Status</th>
			</tr>
			
			{% for book in books %}
        	<tr  style = "font-size:16px">
			<td align="center">{{ book.id}}</td>
			<td align="center">{{ book.ISBN}}</td>
			<td align="center">{{ book.title }}</td>
			<td align="center">{{ book.import_price}}</td>
			<td align="center">{{ book.import_number}}</td>
			<td align="center">{{ book.get_status_display}}</td>
			</tr>
			{% endfor %}
			
		</table>
	{% else %}
    	<p style = "font-size:17px">No books matched your criteria.</p>
	{% endif %}
  {% endblock %}

  {% block heading1 %}
	<h3>What to do next?</h3>
  {% endblock %}

  {% block content1 %}
  	<div class="rp_pp">
                <img src="/images/templatemo_image_01.jpg" alt="Image 01" />
                <a href="/import" style = "font-size:17px">Import </a>
                <p style = "font-size:12px"> </p>
                <div class="cleaner"></div>
            </div>
            <div class="rp_pp">
                <img src="/images/templatemo_image_02.jpg" alt="Image 02" />
                <a href="/pay" style = "font-size:17px">Pay </a>
                <div class="cleaner"></div>
            </div>
            <div class="rp_pp">
                <img src="/images/templatemo_image_03.jpg" alt="Image 03" />
                <a href="/cancel" style = "font-size:17px">Cancel</a>
                <div class="cleaner"></div>
            </div>
            <div class="rp_pp">
                <img src="/images/templatemo_image_01.jpg" alt="Image 01" />
                <a href="/add" style = "font-size:17px">Arrive </a>
                <div class="cleaner"></div>
            </div>
	
  {% endblock %}

  

